sudo: required

dist: trusty

addons:
  hosts:
    - local.dev
    
services:
  - mysql

language: php

php:
  - "5.6"
  
env:
  global:
    # Set build specific variables ...
    - SOURCE_DIR=src
    - VHOST_FILE=.mariamia.vhost
    - VHOST_CONF=mariamia.conf
    - VHOST_URL=miramia.dev 
    
install:
  - npm install newman
  - sudo apt-get install apache2 libapache2-mod-fastcgi > /dev/null

before_script:
  # Enable PHP-FPM and FastCGI ...
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # Disable Xdebug ...
  - phpenv config-rm xdebug.ini
  # Configure application's virtual host ...
  - sudo cp -f $VHOST_FILE /etc/apache2/sites-available/$VHOST_CONF
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/$VHOST_CONF
  - sudo sed -e "s?%VHOST_URL%?$VHOST_URL?g" --in-place /etc/apache2/sites-available/$VHOST_CONF
  - echo "127.0.0.1       $VHOST_URL" | sudo tee -a /etc/hosts
  - sudo a2enmod rewrite
  - sudo a2ensite $VHOST_CONF
  - sudo service apache2 restart
  # Do a lookup on local.dev hostname set above 
  - nslookup mariamia.dev
  # Do an Apache Config Test
  - sudo apache2ctl configtest
  # Check Apache Version
  - sudo apache2 -v
  # Check Versions
  - node --version
  - npm --version
  - node_modules/.bin/newman --version
  # Mysql Setup
  - mysql -e 'create database test_database'
  - mysql -e 'use test_database'
  - mysql -u root test_database < tests/mariamia_db.sql
  # Test url
  - curl -vsf 'http://mariamia.dev' &> /dev/stdout
  

script:
  - node_modules/.bin/newman run tests/Mariamia.postman_collection-endpoints.json -e tests/Mariamia.postman_collection.json

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
