services:
  - mysql

language: php

php:
  - "5.6"
  
install:
  - npm install newman

before_script:
  - node --version
  - npm --version
  - node_modules/.bin/newman --version
  - mysql -e 'create database test_database'
  - mysql -e 'use test_database'
  - mysql -u root test_database < tests/mariamia_db.sql 
  

script:
  - node_modules/.bin/newman run tests/Mariamia.postman_collection-endpoints.json -e tests/Mariamia.postman_collection.json
 